@media  screen and (max-width: 425px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background-image: url('f2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .header{
        
        height: 600px;
        width: 420px;
        
    }
    .container_header{
        display: flex;
        margin: 0px 0px 0px 300px;
        width: 120px;
    }
    .nav{
        color: white;
        display: none;
        list-style-type: none;
        margin: 35px 0px 0px 42px;
        font-size: 20px;
        text-decoration: none;
        width: 420px;
    }
    .nav-mobile{
        color: white;
        display: block;
        list-style-type: none;
        margin: 35px 0px 0px -42px;
        font-size: 20px;
        text-decoration: none;
        width: 420px;
    }
    .nav-li:hover{
        color: orange;
        transition: 1s;
        text-decoration: none;
    }
    .nav-li-one{
        margin: 13px 0px 0px 0px;
        width: 70px;
    }
    .nav-li{
        margin: 13px 0px 0px 0px;
        width: 70px;
        font-family: 'Neucha', cursive;
    }
    .fon-li,.fon-li-one{
        width: 380px;
        height: 80px;
        background-image: url('back-mobile.png');
        background-repeat: no-repeat;
    }
    .fon-li-b{
        width: 380px;
        height: 80px;
        background-image: url('back-mobile.png');
        background-repeat: no-repeat;
    }
    .fon-li{
        margin: 0px 0px 0px 0px;
    }
    .logo{
        background-image: url('logo.png');
        width: 165px;
        height: 117px;
        margin: 21px 0px 0px -279px;
        animation: logo 1s  linear;
    }
    .back-call{
        color: white;
        margin: 22px 0px 0px 95px;
        padding: 10px 10px 10px 10px;
        border: 3px solid orange;
        border-radius: 25px 0px 25px 0px;
        text-decoration: none;
        position: absolute;
        background-color: orange;
        transition: 1s;
        font-family: 'Neucha', cursive;
    }
    
    .back-call:hover{
        background-color: brown;
        border-radius: 0px 25px 0px 25px;
        text-decoration: none;
        color: white;
        
    }
    .txt-header{
        color: white;
        width: 380px;
        height: 100px;
        margin: 90px 0px 0px 34px;
        font-size: 30px;
        animation: txt-anim 1s  linear;
        -webkit-text-stroke: 1px black;
        z-index: 999;
    }
    .button-sms{
        color: white;
        margin: 0px 0px 0px 35px;
        padding: 10px 10px 10px 10px;
        border: 3px solid orange;
        border-radius: 25px 0px 25px 0px;
        text-decoration: none;  
        font-size: 30px;
        background-color: orange;
        transition: 1s;
    }
    .button-sms:hover{
        background-color: brown;
        border-radius: 0px 25px 0px 25px;
        text-decoration: none;
        color: white;
        
    }
    .conteiner-sms{
        margin: 264px 0px 0px 2px;
        animation: button-anim 1s  linear;
    }
    .social-network{
        display: flex;
        position: absolute;
        margin: 56px 0px 0px -7px;
        width: 420px;
        height: 110px;
        
    }
    .instagram{
        display: block;
    background-image: url('Network3-p.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    animation: instagram 1s  linear;
    }
    .facebook{
        display: block;
    background-image: url('Network1-p.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    margin: 0px 0px 0px 0px;
    animation: facebook 1s  linear;
    }
    .youtube{
        display: block;
    background-image: url('Network2-p.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    animation: youtube 1s  linear;
    }
    .video{
        position: absolute;
        width: 420px;
        height: 442px;
        margin: 186px 0px 0px 2px ;
        
    }
    .ram-video{
        position: absolute;
        width: 420px;
        height: 442px;
        background-image: url('ram-video-mobile.png');
        background-repeat: no-repeat;
        margin: 169px 0px 0px -1px;
        z-index: 999;
    }
    .video-factoria{
        width: 412px;
        height: 211px;
        
    }
    .img-span{
        width: 60px;
        height: 60px;
        margin: 20px 0px 0px 10px;
        position: absolute;
        animation: rotation 2s infinite linear;
        
    }
    .span-two{
        width: 60px;
        height: 60px;
        margin: -46px 0px 0px -29px;
        position: absolute; 
        animation: rotation 2s infinite linear;
    }     
    @keyframes rotation {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    @keyframes txt-anim {
    from{
    margin: 90px 0px 0px -600px;
    }   
    to{
        margin: 90px 0px 0px 34px;;
    } 
    }
    @keyframes button-anim {
        from{
            margin: -500px 0px 0px 2px;
        }   
        to{
            margin: 182px 0px 0px 2px;;
        } 
        }
        @keyframes logo {
            from{
                margin: 21px 0px 0px 50px;
                transform: rotate(0deg);
            }   
            to{
                margin: 21px 0px 0px -279px;
                transform: rotate(359deg);
            } 
            }
            @keyframes instagram {
                from{
                    margin: 700px 0px 0px 600px;
                }   
                to{
                    margin: 0px 0px 0px 0px;
                } 
                }
                @keyframes facebook {
                    from{
                        margin: 700px 0px 0px 600px;
                    }   
                    to{
                        margin: 0px 0px 0px 0px;
                    } 
                    }
                    @keyframes youtube {
                        from{
                            margin: 400px 0px 0px 600px;
                        }   
                        to{
                            margin: 0px 0px 0px 0px;
                        } 
                        }
    .block-carl{
        background-image: url("ram-png-mobile.png");
        background-repeat: no-repeat;
        width: 400px;
        height: 620px;
        margin: 0px 0px 67px 74px;
    }
    .img-carl{
    width: 350px;
    height: 267px;
    margin: 160px 0px 0px 30px;
    border-radius: 15px;
    }
    .h1-carl{
    font-size: 27px;
    font-family: 'Neucha', cursive;
    margin: 10px 0px 2px 40px;
    width: 346px;
    color: black;
    -webkit-text-stroke: 0.25px black;
    }
    .butt-carl{
    background-color: orange;
    color: white;
    width: 116px;
    border-radius: 15px;
    margin: 0px 0px 0px 34px;
    font-family: 'Neucha', cursive;
    font-size: 18px;
    transition: 1s;
    }
    .butt-carl:hover{
        background-color: brown;
    }
    .active{
        display: flex;
    }
    .main-block{
        display: block;
        margin: 15px 0px 0px -64px;
    }
    .carousel-control-prev{
        margin: 0px 0px 0px 0px;
        width: 10%;
    }
    .carousel-control-next{
        margin: 0px 0px 0px 0px;
        width: 10%;
    }
    .news{
        margin:481px 0px 100px 0px;
        width: 420px;
        height: 100px;
        background-image: url('news-mobile.png');
        background-repeat: no-repeat;
    }
    .h1-news{
        position: absolute;
        color: white;
        margin: 17px 0px 0px 100px;
        font-size: 55px;
        width: 200px;
        -webkit-text-stroke: 1px black;
        font-family: 'Rubik Bubbles', cursive;
        font-weight: 400;
    }
    .carousel-indicators{
        margin-bottom: -3%;
    }
    .content{
        height: 1000px;
    }
    .h1-txt-header{
        font-size: 3rem;
    }
    .n1{
        position: absolute;
    margin:20px 0px 0px 140px;
    font-size: 27px;
    }
    .n2{
        position: absolute;
        margin: 22px 0px 0px 161px;   
        font-size: 27px;
    }
    .n3{
        position: absolute;
        font-size: 27px;
        width: 250px;
        margin: 21px 0px 0px 88px;    
    }
    .n4{
        font-size: 27px;
        width: 250px;
        position: absolute;
        margin: 21px 0px 0px 124px;  
    }
    .n5{
        position: absolute;
        margin: 21px 0px 0px 143px;  
        font-size: 27px;
    }
    .n6{
        font-size: 27px;
        width: 250px;
        position: absolute;
        margin: 20px 0px 0px 107px;
    }
    .n7{
        position: absolute;
        font-size: 27px;
        margin: 21px 0px 0px 137px; 
    }
    .navbar{
        width: 380px;
        margin: 0px 0px 0px 0px;
    }
    .f1{
        margin: -53px 0px 0px 0px ;
    }
    .f2{
        margin: 0px 0px 0px 0px ;
    }
    .f3{
        margin: 0px 0px 0px 0px ;
    }
    .f4{
        margin: 0px 0px 0px 0px ;
    }
    .f5{
        margin: 0px 0px 0px 0px ;
    }
    .f6{
        margin: 0px 0px 0px 0px ;
    }
    .f7{
        margin: 14px 0px 0px 0px ;
    }
    h1{
        font-size: 50px;
        font-family: 'Neucha', cursive;
        margin: -28px 0px 0px -11px;
        width: 380px;
    }
    .carousel-control-prev-icon,.carousel-control-next-icon{
    width: 50px;
    height: 30px;
    }
    .carousel{
        width: 420px;
    }
    .butt-menu{
        width: 100px;
        height: 100px;
        background: transparent;
        margin: 30px 0px 0px 0px;
        border: none;
        position: absolute;
        z-index: 997;
    }
    .menu{
        width: 80px;
        height: 80px;
        background: transparent;
    }
    .offcanvas-backdrop{
        width: 420px;
    }
    .offcanvas.show:not(.hiding){
        width: 420px;
        background-image: url('f2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .offcanvas-title{
        margin: 0px 0px 0px 0px;
    }
    }